global
  log stdout format raw local0
  stats timeout 30s
  daemon

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  option  httpclose
  option  forwardfor
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend stats   
  bind *:1936
  mode http
  log  global

  maxconn 10

  stats enable
  stats hide-version
  stats refresh 30s
  stats show-node
  stats auth admin:admin
  stats uri  /haproxy/stats

frontend http
    bind *:80
    mode http
    acl is_well_known path_beg -i /.well-known/

    redirect scheme https code 301 if !is_well_known !{ ssl_fc }
    
    use_backend letsencrypt if is_well_known


backend letsencrypt
    server letsencrypt nginx-certbot:80 resolvers docker_resolver check init-addr none


frontend https
    bind *:443 ssl crt /usr/local/etc/certs/
    http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"

    acl wordpress  hdr(host) -i devtutorial.xyz
    use_backend wordpress if wordpress

    default_backend wordpress

backend wordpress
    server backend1 wordpress:80 resolvers docker_resolver check init-addr none 
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
